#tabScore{
    height: 113px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    margin: 10px 0 15px 0;
    background-color: black;
}
#tabScore table{
    width: 315px;
    display: flex;
    flex-direction: column;
    position: absolute;
    animation: moveScore 10s ease-out;
    -webkit-animation: moveScore 10s ease-out;
}
#tabScore table thead tr, #tabScore table tbody tr{
    display: flex;
}
#tabScore table thead tr th, #tabScore table tbody td {
    width: 33%;
    text-align: center;
}
#tabScore table thead tr{
    padding: 3px 0;
}
#tabScore table tbody tr{
    padding: 1px 0;
}
@keyframes moveScore{
    0% {
        bottom: -200px;
    }
    99% {
        bottom: 110%;
    }
    100% {
        bottom: 0;
    }
}
#element {
    width: 1280px;
    margin-top: 10px;
    height: 32px;
    position: relative;
    overflow: hidden;
}
#chori {
    width: 32px;
    height: 32px;
    background-image: url('../src/chorizo1erPas.png');
    position: absolute;
    /* animation: moveLinearLeftToRight 10s linear infinite;
    -webkit-animation: moveLinearLeftToRight 10s linear infinite; */
}
#element #choriVert {
    width: 32px;
    height: 32px;
    background-image: url('../src/mechantQuiMarche.png');
    position: absolute;
    /* animation: moveLinearLeftToRight 14s linear infinite;
    -webkit-animation: moveLinearLeftToRight 14s linear infinite; */
}
#chut1{
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: red;
    /* animation: moveLinearTopToBottom 14s linear infinite;
    -webkit-animation: moveLinearTopToBottom 14s linear infinite; */
}
@keyframes moveRotate{
    0%
    {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@keyframes moveLinearLeftToRight{
    0%
    {
        left: -25px;
    }
    100%
    {
        left: 110%;
    }
}
@keyframes moveLinearTopToBottom{
    0%{
        top: -35px
    }
    100%{
        top: 755px;
    }
}
#endGame, #tabScore{
    width: 315px;
}
.d-none{
    display: none;
}
#modalScore{
    width: 50%;
    min-height: 700px;
    position: absolute;
    background-color: white;
    opacity: 0.8;
}
#modalScore>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start{
    width: 100%;
}
#logo{
    text-align: center;
}
#logo img{
    width: 75%;
}
#saveTag{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes dezoom{
    0%{
        width: 100%;
    }
    100%{
        width: 75%;
    }
}
#infoGame{
    width: 315px;
    height: 130px;
    border: 1px solid black;
}
#box{
    display: flex;
    flex-direction: column;
}
#container{
    position: relative;
    perspective: 2500px;
    right: 240px;
}
#box{
    /* width: 100%;
    height: 100%; */
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-240px);
    transition: transform 3s;
    -webkit-transition: transform 3s;
    -moz-transition: transform 3s;
    -ms-transition: transform 3s;
    -o-transition: transform 3s;
    -webkit-transform: translateZ(-240px);
    -moz-transform: translateZ(-240px);
    -ms-transform: translateZ(-240px);
    -o-transform: translateZ(-240px);
}
.front{
    position: absolute;
    transform: rotateY(0deg) translateZ(240px);
    -webkit-transform: rotateY(0deg) translateZ(240px);
    -moz-transform: rotateY(0deg) translateZ(240px);
    -ms-transform: rotateY(0deg) translateZ(240px);
    -o-transform: rotateY(0deg) translateZ(240px);
}
.left{
    position: absolute;
    background-color: blue;
    width: 480px;
    height: 700px;
    transform: rotateY(-90deg) translateZ(240px);
    -webkit-transform: rotateY(-90deg) translateZ(240px);
    -moz-transform: rotateY(-90deg) translateZ(240px);
    -ms-transform: rotateY(-90deg) translateZ(240px);
    -o-transform: rotateY(-90deg) translateZ(240px);
}
.right{
    position: absolute;
    background-color: coral;
    width: 480px;
    height: 700px;
    transform: rotateY(90deg) translateZ(240px);
    -webkit-transform: rotateY(90deg) translateZ(240px);
    -moz-transform: rotateY(90deg) translateZ(240px);
    -ms-transform: rotateY(90deg) translateZ(240px);
    -o-transform: rotateY(90deg) translateZ(240px);
}
.back{
    position: absolute;
    background-color: green;
    width: 480px;
    height: 700px;
    transform: rotateY(180deg) translateZ(240px);
    -webkit-transform: rotateY(180deg) translateZ(240px);
    -moz-transform: rotateY(180deg) translateZ(240px);
    -ms-transform: rotateY(180deg) translateZ(240px);
    -o-transform: rotateY(180deg) translateZ(240px);
}