body{
    font-family: 'Font Retro';
    background-color: black;
    overflow: hidden;
}
.trio{
    color: red;
}
.gold{
    color: goldenrod;
}
.teal{
    color: teal;
}
#canvas {
    background-color: grey;
    background-image:url('../src/newFondCuisine.png');
}
@font-face {
    font-family: "Font Retro";
    src: url('../src/Retro Gaming.ttf')
}